<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>String Methods</title>
</head>
<body>

    <p id="replace"></p>
    <p id="fruits"></p>
    <p id="pop"></p>
    <script>
    var data = "This is the first program of Java Script";
    var fruits = ["kiwi", "mango", "apple", "banana"];
    var veg = ["potato", "tomato"]

    document.getElementById("replace").innerHTML = data.replace("first","Second");
    
    document.getElementById("replace").innerHTML = " hello";
    

    document.getElementById("fruits").innerHTML = fruits.toString();
    document.getElementById("fruits").innerHTML = fruits.push("orangeee");
    document.getElementById("fruits").innerHTML = fruits + " (push item)";

    
    </script>




<p id="concat"></p>
<p id="demo"></p>


<script>

    document.getElementById("pop").innerHTML = fruits.pop();
    document.getElementById("pop").innerHTML = fruits + " (last item removed using pop)";


    document.getElementById("pop").innerHTML = fruits.shift();
    document.getElementById("pop").innerHTML = fruits + " (first item removed using shift)";


    var car = ["baleno" , "polo"];
    var bike = ["classic 350", "RR310"];
    var vegfruits = bike.concat(car);

    document.getElementById("concat").innerHTML = vegfruits +" (concat function)";

  

    

    
    </script>

<p id="extend"></p>


<script>

var human = {
        name:"vishal"
    };

    var a = {
        domain:"google.com"
    };

    // var humanagee = extend(human,a);
    // console.log(humanagee);
    var humanagee = extend(human,a);
    var g = {{},...human, ...a};
    console.log(g);
    document.getElementById("extend").innerHTML = humanagee;
    let merge = Object.assign({}, human, a);;




</script>



    
</body>
</html>